$codeView :code-editor;
.#{$codeView} {
    min-height: 10%;
    max-height: 50%;
    overflow: auto;
    &__title {
        font-size: 1rem;
        height: 1.5em;
        padding: 0.25em;
        position: fixed;
        width: 49%;
        background: var(--white-1);
        +.#{$codeView}__title-placeholder {
            height: 1.5em;
            padding: 0.25em;
        }
    }
    &__content {
        display: flex;
        white-space: nowrap;
        height: auto;
    }
}